Basic Hello World

In [1]:
x=1
print(x)

1

In [2]:
import pandas as pd

In [3]:
sashelp=pd.read_csv('c:\sashelp.csv')

In [4]:
sashelp["Name"]

0      Alfred
1       Alice
2     Barbara
3       Carol
4       Henry
5       James
6        Jane
7       Janet
8     Jeffrey
9        John
10      Joyce
11       Judy
12     Louise
13       Mary
14     Philip
15     Robert
16     Ronald
17     Thomas
18    William
Name: Name, dtype: object

In [6]:
"sushil".capitalize()

'Sushil'

In [9]:
import pandas as pd
sashelpk=pd.read_csv('c:\sashelp.csv')
sashelpk["Name"].replace ("u","a")
print (sashelpk)

       Name Sex  Age  Height  Weight
0    Alfred   M   14    69.0   112.5
1     Alice   F   13    56.5    84.0
2   Barbara   F   13    65.3    98.0
3     Carol   F   14    62.8   102.5
4     Henry   M   14    63.5   102.5
5     James   M   12    57.3    83.0
6      Jane   F   12    59.8    84.5
7     Janet   F   15    62.5   112.5
8   Jeffrey   M   13    62.5    84.0
9      John   M   12    59.0    99.5
10    Joyce   F   11    51.3    50.5
11     Judy   F   14    64.3    90.0
12   Louise   F   12    56.3    77.0
13     Mary   F   15    66.5   112.0
14   Philip   M   16    72.0   150.0
15   Robert   M   12    64.8   128.0
16   Ronald   M   15    67.0   133.0
17   Thomas   M   11    57.5    85.0
18  William   M   15    66.5   112.0